.image-h{
    margin-top: 150px;
    margin-left: 90px;
    border-radius: 5px;

}
.image-text{
    font-size: 50px;
    color: rgb(64, 64, 232);
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 90px;
}