.btn-play {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: chartreuse;
    border-color: white;
    margin-right: 40%;

}
.btn-pause {
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    background-color: red;
    border-color: white;
}
.grid-btn {
    margin-top: 10%;
    text-align: center;
    justify-content: space-between;
}

