.head-font{
  font-size: 70px;
  color: white;
  margin-top: 30%;
  margin-bottom: 10%;
}
.head-small-font{
    font-size: 15px;
    color: white;
    margin-top: .2%;
    margin-bottom: 10%;
}
.head-cor {
    font-size: 25px;
    color: white;
    margin-top: .2%;
    margin-bottom: 10%;   
}